<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="PBIWebApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <pages>
      <namespaces>
        <add namespace="System.Web.Optimization" />
      </namespaces>
      <controls>
        <add assembly="Microsoft.AspNet.Web.Optimization.WebForms" namespace="Microsoft.AspNet.Web.Optimization.WebForms" tagPrefix="webopt" />
      </controls>
    </pages>
    <customErrors mode="Off"/>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" culture="neutral" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>      
    </assemblyBinding>
  </runtime>
    
  <applicationSettings>
    <PBIWebApp.Properties.Settings>
      <setting name="ClientID" serializeAs="String">
        <value>{Enter your app ClientID}</value>
      </setting>
      <setting name="ClientSecretKey" serializeAs="String">
        <value>{Enter your app SecretKey}</value>
      </setting>
      <setting name="RedirectUrl" serializeAs="String">
        <value>http://localhost:13526/Redirect</value>
      </setting>
    <setting name="AADAuthorityUri" serializeAs="String">
      <value>https://login.chinacloudapi.cn/common/oauth2/authorize/</value>
    </setting>
    <setting name="PowerBiAPI" serializeAs="String">
      <value>https://analysis.chinacloudapi.cn/powerbi/api</value>
    </setting>
     <setting name="PowerBiDataset" serializeAs="String">
      <value>https://api.powerbi.cn/v1.0/myorg/datasets</value>
    </setting>
    </PBIWebApp.Properties.Settings>
  </applicationSettings>
</configuration>

