<!-- Replace these configs with the one in the Web.config file for sovereign cloud -->
<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
	<add key="authorityUrl" value="https://login.chinacloudapi.cn/common/" />
	<add key="powerBiApiUrl" value="https://api.powerbi.cn/" />
	<add key="scopeBase" value="https://analysis.chinacloudapi.cn/powerbi/api/" />
</appSettings>