@*
----------------------------------------------------------------------------
Copyright (c) Microsoft Corporation.
Licensed under the MIT license.
----------------------------------------------------------------------------
*@

<div class="overlay">
    <div class="signin-container">
        <p>Sign in to Power BI</p>
        <button class="sign-in" onclick="location.href='@Url.Action("Embed", "Home")'">Sign in</button>
    </div>
</div>