h1 {

}

h2 {
    font-size: 1.1em;
    margin-top: -20px;
    font-weight: normal;
}

h3 {
    font-size: 1em;
    font-weight: normal;
}

body {
    padding: 10px 50px;
    font-family: 'Segoe UI', wf_segoe-ui_normal, helvetica, arial, sans-serif;
}

header {
    margin-bottom: 20px;
}

div {
    margin-bottom: 5px;
}

input[type="submit"], input[type="button"] {
    width: 200px;
    height: 30px;
    background-color: rgb(0, 184, 241);
    border: none;
    font-weight: bold;
}

#reportContainer {
    background-color: #f5f8fa;
}

#logView {
    background-color: #f5f8fa;
    min-height: 100px;
    padding: 10px;
}

.logViewWrap {
    margin-top: 20px;
    float: none;
    width: 100%;
}

.fieldtxt {
    min-width: 150px;
    float: left;
}
.step
{
    font: 16px arial, verdana;
    font-weight: bold;
}

.grid {
    width: 100%;
}

.gridWrapper {
    width: 100%;
    height: 250px;
    overflow-y: scroll;
    background-color: #f5f8fa;
}

.gridWrapper table {
    width: 100% !important;
    height: 100%;
    border-collapse: collapse;
}

.gridWrapper td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

.gridWrapper th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

.gridWrapper tr:nth-child(even) {
    background-color: #f5f8fa;
}


.gridWrapper tr:nth-child(odd) {
    background-color: white;
}

.embedWrapper {
    margin-top: 20px;
}

#embedInputs {
    float: left;
    width: 50%;
}

#embedInputs input[type=text] {
    width: 80%;
    margin-bottom: 10px;
}

#embedInputs input[type=button] {
    margin-top: 20px;
}

#dashboardContainer {
    width: 90%;
    height: 800px;
}

.stepHr {
    margin: 20px 0;
}