<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
    <add key="authorityUrl" value="https://login.chinacloudapi.cn/common/oauth2/authorize/" />
    <add key="resourceUrl" value="https://analysis.chinacloudapi.cn/powerbi/api" />
    <add key="apiUrl" value="https://api.powerbi.cn/" />
    <add key="embedUrlBase" value="https://app.powerbi.cn/" />
</appSettings>