<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings file="Cloud.config">
    <add key="reportsRoot" value="C:\pbix" />
    <add key="capacityName" value="" />
    <add key="groupNamePrefix" value="test1-" />
    <add key="importStatusAttempts" value="60" />
    <add key="importStatusDelaySeconds" value="1" />
    <add key="httpClientTimeoutSeconds" value="600" />
    <add key="apiVersion" value="2" />

    <add key="clientId" value=""/>
    <add key="pbiUsername" value=""/>
    <add key="pbiPassword" value=""/>

    <add key="sqlConnectionString" value="data source=SQLSERVER.database.windows.net;initial catalog=DATABASE;persist security info=True;encrypt=True;trustservercertificate=False"/>
    <add key="sqlUsername" value="sqladmin"/>
    <add key="sqlPassword" value="sqlpassword"/>

    <add key="workspaceCollectionName" value="" />
    <add key="workspaceCollectionKey" value="" />

    <add key="iKey" value="appinsightskey" />

  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Rest.ClientRuntime" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.8.0" newVersion="2.0.8.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>