<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="log4net" version="2.0.8" targetFramework="net471" />
  <package id="Microsoft.ApplicationInsights" version="2.6.4" targetFramework="net471" />
  <package id="Microsoft.ApplicationInsights.Agent.Intercept" version="2.4.0" targetFramework="net471" />
  <package id="Microsoft.ApplicationInsights.DependencyCollector" version="2.6.4" targetFramework="net471" />
  <package id="Microsoft.ApplicationInsights.PerfCounterCollector" version="2.6.4" targetFramework="net471" />
  <package id="Microsoft.ApplicationInsights.WindowsServer" version="2.6.4" targetFramework="net471" />
  <package id="Microsoft.ApplicationInsights.WindowsServer.TelemetryChannel" version="2.6.4" targetFramework="net471" />
  <package id="Microsoft.IdentityModel.Clients.ActiveDirectory" version="3.19.8" targetFramework="net471" />
  <package id="Microsoft.PowerBI.Api" version="2.0.12" targetFramework="net471" />
  <package id="Microsoft.Rest.ClientRuntime" version="2.3.11" targetFramework="net471" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net471" />
  <package id="System.Diagnostics.DiagnosticSource" version="4.5.0" targetFramework="net471" />
</packages>