<?xml version="1.0"?>
<PBIWebApp.Properties.Settings>
  <setting name="ApplicationID" serializeAs="String">
    <value>d3bf2b56-81e4-4c3a-9b56-af9f226a6578</value>
  </setting>
  <setting name="PowerBiAPIResource" serializeAs="String">
    <value>https://analysis.windows.net/powerbi/api</value>
  </setting>
  <setting name="ApplicationSecret" serializeAs="String">
    <value>lcPzl8IrWAXEbHxd9uJMl3RDGbWP1p4Jo29rxuJ66IE=</value>
  </setting>
  <setting name="AADAuthorityUri" serializeAs="String">
    <value>https://login.windows.net/common/oauth2/authorize/</value>
  </setting>
  <setting name="PowerBiDataset" serializeAs="String">
    <value>https://api.powerbi.com/v1.0/myorg/</value>
  </setting>
  <setting name="RedirectUrl" serializeAs="String">
    <value>http://localhost:13526/</value>
  </setting>
  <setting name="PowerBiApiUrl" serializeAs="String">
    <value>https://api.powerbi.com/</value>
  </setting>
  <setting name="WorkspaceId" serializeAs="String">
    <value />
  </setting>
  <setting name="ReportId" serializeAs="String">
    <value />
  </setting>
</PBIWebApp.Properties.Settings>