<?xml version="1.0"?>
<PBIWebApp.Properties.Settings>
  <setting name="ClientID" serializeAs="String">
    <value>{Enter your app ClientID}</value>
  </setting>
  <setting name="ClientSecret" serializeAs="String">
    <value>{Enter your app SecretKey}</value>
  </setting>
  <setting name="AADAuthoritySignInUri" serializeAs="String">
    <value>https://login.windows.net/common/</value>
  </setting>
  <setting name="AADAuthoritySignOffUri" serializeAs="String">
    <value>https://login.windows.net/common/oauth2/logout/</value>
  </setting>
  <setting name="PowerBiAPI" serializeAs="String">
    <value>https://analysis.windows.net/powerbi/api</value>
  </setting>
  <setting name="PowerBiDataset" serializeAs="String">
    <value>https://api.powerbi.com/v1.0/myorg/</value>
  </setting>
  <setting name="RedirectUrl" serializeAs="String">
    <value>http://localhost:13526/</value>
  </setting>
</PBIWebApp.Properties.Settings>