<!-- Replace these configs with the one in the Web.config file for sovereign cloud -->
<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
	<add key="authorityUrl" value="https://login.microsoftonline.com/common/" />
	<add key="powerBiApiUrl" value="https://api.powerbi.com/" />
	<add key="scopeBase" value="https://analysis.windows.net/powerbi/api/" />
</appSettings>