<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/external/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <title>Embedded Power BI report</title>
</head>

<body>
    <header class="embed-container col-lg-12 col-md-12 col-sm-12 shadow">
        <p>
            Power BI Embedded Sample
        </p>
    </header>
    <main class="row">
        <section id="text-container" class="embed-container col-lg-4 col-md-4 col-sm-4 mb-5 ml-5 mt-5">
            <div>
                <p>This sample is developed using Flask framework.
                    <br>
                    In order to see a different report, make changes to the <i>config.py</i> file.
                </p>
                <p>Code is present in the following files:
                    <ol>
                        <li>app.py</li>
                        <li>aadservice.py</li>
                        <li>pbiembedservice.py</li>
                        <li>index.js</li>
                        <li>index.html</li>
                        <li>index.css</li>
                    </ol>
                </p>
            </div>
        </section>
        <section id="report-container" class="embed-container col-lg-offset-4 col-lg-7 col-md-offset-5 col-md-7 col-sm-offset-5 col-sm-7 mt-5">
        </section>

        <!-- Used to display report embed error messages -->
        <section class="error-container m-5">
        </section>
    </main>
    <footer class="embed-container col-lg-12 col-md-12 col-sm-12 mb-0 mt-4">
        <p class="text-center">
            For Live demo and more code samples please visit <a
            href="https://aka.ms/pbijs">https://aka.ms/pbijs</a>
            <br>
            For JavaScript API, please visit <a
            href="https://aka.ms/PowerBIjs">https://aka.ms/PowerBIjs</a>
        </p>
    </footer>
    <script src="{{ url_for('static', filename='js/external/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/external/jquery-3.4.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/external/powerbi.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
</body>
</html>