<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
  <add key="authorityUrl" value="https://login.windows.net/common/oauth2/authorize/" />
  <add key="tokenUrl" value="https://login.windows.net/common/oauth2/token/"/>
  <add key="resourceUrl" value="https://analysis.windows.net/powerbi/api" />
  <add key="apiUrl" value="https://api.powerbi.com/" />
  <add key="embedUrlBase" value="https://app.powerbi.com/" />
</appSettings>