@*
----------------------------------------------------------------------------
Copyright (c) Microsoft Corporation.
Licensed under the MIT license.
----------------------------------------------------------------------------
*@

<div class="infoBox">
    For embedding other Power BI content, please click <a href="/Home/Index">here</a>
    <br />

    For Live demo and more code samples, please visit <a href="https://microsoft.github.io/PowerBI-JavaScript/demo/v2-demo/index.html">https://microsoft.github.io/PowerBI-JavaScript/demo/v2-demo/index.html</a>
    <br />

    For JavaScript API, please visit <a href="https://github.com/Microsoft/PowerBI-javascript/wiki">https://github.com/Microsoft/PowerBI-javascript/wiki</a>
</div>