<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
    <add key="authorityUrl" value="https://login.windows.net/common/oauth2/authorize/" />
    <add key="resourceUrl" value="https://L5.analysis.usgovcloudapi.net/powerbi/api" />
    <add key="apiUrl" value="https://api.L5.powerbigov.us/" />
    <add key="embedUrlBase" value="https://app.L5.powerbigov.us" />
</appSettings>