<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
    <add key="authorityUrl" value="https://login.windows.net/common/" />
    <add key="resourceUrl" value="https://mil.analysis.usgovcloudapi.net/powerbi/api" />
    <add key="apiUrl" value="https://api.mil.powerbigov.us/" />
    <add key="embedUrlBase" value="https://app.mil.powerbigov.us" />
</appSettings>