h1 {

}

h2 {
    font-size: 1.1em;
    margin-top: -20px;
    font-weight: normal;
}

h3 {
    font-size: 1em;
    font-weight: normal;
}

body {
    padding: 10px 50px;
    font-family: 'Segoe UI', wf_segoe-ui_normal, helvetica, arial, sans-serif;
}

header {
    margin-bottom: 20px;
}

div {
    margin-bottom: 5px;
}

input[type="submit"] {
    width: 200px;
    height: 30px;
    background-color: rgb(0, 184, 241);
    border: none;
    font-weight: bold;
}

#reportContainer {
    background-color: #f5f8fa;
}

#logView {
    background-color: #f5f8fa;
    min-height: 100px;
    padding: 10px;
}

.fieldtxt {
    min-width: 150px;
    float: left;
}

.error{
    color: #FF0000;
}