<!-- Replace these configs with the one in the Web.config file for sovereign cloud -->
<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
	<add key="authorityUri" value="https://login.microsoftonline.com/common/" />
	<add key="powerBiApiUrl" value="https://api.powerbigov.us/ />
	<add key="powerBiPermissionApi" value="https://analysis.usgovcloudapi.net/powerbi/api/" />
</appSettings>