.vscode/
*.py[co]
*.DS_*
# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
pip-log.txt
.coverage
.tox
*.mo
venv
*.pyc
build

# EH: avoid config files with sensitive data
config.py
Embed*for*your*customers/AppOwnsData/config.py