<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
    <add key="authorityUrl" value="https://login.microsoftonline.de/common/oauth2/authorize/" />
    <add key="resourceUrl" value="https://analysis.cloudapi.de/powerbi/api" />
    <add key="apiUrl" value="https://api.powerbi.de/" />
    <add key="embedUrlBase" value="https://app.powerbi.de/" />
</appSettings>