@* Copyright (c) Microsoft Corporation.
Licensed under the MIT license. *@

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Power BI Embedded sample</title>
	<link href="~/Content/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
	<link href="~/Content/style/style.css" rel="stylesheet" />
</head>

<body>
    @RenderBody()

    <script src="~/Content/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/Content/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/Content/lib/powerbi-client/dist/powerbi.min.js"></script>
    <script src="~/Scripts/error.js"></script>
    <script src="~/Scripts/globals.js"></script>
    <script src="~/Scripts/data.js"></script>
    <script src="~/Scripts/embed.js"></script>
    <script src="~/Scripts/events.js"></script>
    <script src="~/Scripts/index.js"></script>
</body>
</html>
