<!-- Replace these configs with the one in the Web.config file for sovereign cloud -->
<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
	<add key="authorityUri" value="https://login.microsoftonline.de/common/" />
	<add key="powerBiApiUrl" value="https://api.powerbi.de/" />
	<add key="powerBiPermissionApi" value="https://analysis.cloudapi.de/powerbi/api/" />
</appSettings>